.container {
    max-width: 1336px;
    width: 100%;
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (width < 1550px) {
    .container{
        padding-top: 20px;
    }
}
@media (width < 758px) {
    .container{
        padding-top: 80px;
    }
}